.input {
    background-color: var(--primary-color);
    width: 100%;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    flex-grow: 1;
}

.inputField {
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: var(--transperent-accent-color);
    width: 200px;
    transition: background-color ease-out 0.3s;
    position: relative;
}
.inputField:focus {
    outline: none;
    background-color: var(--accent-color);
}

.inputField::-webkit-calendar-picker-indicator{
    background-color: var(--accent-color);
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: -0.4rem;
}

.inputBlock {
}

.error {
    margin-top: 7px;
}