.text {
    padding: 1rem;
}

.title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    font-size: 14px;
}

.error {
    color: var(--error);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

