.button {
    background-color: var(--transperent-accent-color);
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0%);
    background-color: #74cebf;
    border-radius: 5px;
    z-index: -1;
    transition: transform ease-in 0.6s;
}

.button:hover::before {
    transform: translate(-50%, -50%) scaleX(100%);
}

.button + .button {
    margin-left: 10px;
}