.timelapseBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.name {
    font-weight: 600;
    font-size: 16px;
}

.info {
    flex-grow: 1;
}

.info > * {
    text-align: right;
    white-space: nowrap;
}

.date {
/* */
}

.percent {
/**/
}
