.App {
    background-color: #fffbe9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerSection {
    background-color: var(--secondary-color);
}

.loadSection {
    background-color: var(--secondary-color);
    flex-grow: 1;
}
