@import "reset.css";

:root {
  --background-color: #fffbe9;
  --accent-color: #74cebf;
  --transperent-accent-color: rgba(78, 147, 137, 0.2);
  --primary-color: #d3e7ad;
  --dark-color: #587574;
  --error: #a20000;
}

body {
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* scrollbar width */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--transperent-accent-color);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--dark-color);
  border-radius: 2px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}